<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.cbecker.pathbutton"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:icon="@drawable/bg_button_menu"
        android:label="PathButton" >
        <activity
            android:name=".PathButtonActivity"
            android:label="PathButton" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>